<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Guitar Store</title>
</head>
<body>
    <h1>Vintage Guitar Orders</h1>
    
    {% for order in orders %}
    <div>
    <h2><a href = "/order/{{loop.index0}}">{{order.customer_name}}</a></h2> 
    <p>Order date: {{order.order_date}}</br>
        <!-- Quantity: {{order.quantity}}</br>
        {{order.guitar_name}}, {{order.model_year}} -->
        <hr>
    </p>
    </div>
    {% endfor %}

    
</body>
</html>