<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Guitar Store</title>
</head>
<body>
    <h1>Vintage Guitar Orders</h1>
    <h2>{{order.customer_name}}:</h2>
    <p>Order date: {{order.order_date}}</br>
        Quantity: {{order.quantity}}</br>
        {{order.guitar_name}}, {{order.model_year}}
    </p>
    <a href = "/orders">Back</a>
</body>
</html>